body {
    background-color: #C8AA0B;
}

.main-title {
    color: #000;
    font-family: "Inria Serif" sans-serif;
    font-size: 28px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-align: center;
    margin-top: 40px;
}

@keyframes zoomIn {
    from {
        transform: scale(1);
    }

    to {
        transform: scale(2);
    }
}

.zoomIn {
    font-size: 30;
    animation: zoomIn 2s ease-in-out infinite normal;
    text-transform: uppercase;
}

.main-text {
    color: #000;
    font-family: "Inria Serif" sans-serif;
    font-size: 18px;
    font-style: italic;
    font-weight: 400;
    line-height: normal;
    text-align: center;
}

.underline {
    display: inline-block;
    text-decoration: underline;
}

.image {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.image-pom {
    width: 200px;
    height: 200px;
    border-radius: 105px;
    overflow: hidden;
    margin-left: 10px;
    margin-top: 80px;
    background-size: cover;
    background-image: url(images/pomodoro.jpg);
}

.image-rav {
    width: 200px;
    height: 200px;
    border-radius: 105px;
    overflow: hidden;
    margin-left: 130px;
    margin-top: 80px;
    background-size: cover;
    background: url(/images/ravioli.png);
}

.image-cac {
    width: 200px;
    height: 200px;
    border-radius: 105px;
    overflow: hidden;
    margin-left: 140px;
    margin-top: 80px;
    background-size: cover;
    background: url(/images/cacioepepe.jpg);
}

.container {
    width: 100%;
    height: 100%;
    flex-direction: row;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.container--first:hover {
    background: #C8AA0B;
}

.container--first {
    width: 100%;
    height: 100%;
    background: #F1D12B;
    transition-duration: 500ms;
}

.container--first {
    width: 94px;
    height: 90px;
    background: #F1D12B;
    width: 150px;
    height: 120px;
    color: #000;
    font-family: "Inria Serif" sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-align: center;
    border: 1px solid #000;
    margin-right: 160px;
    margin-top: 20px;
    padding: 15px;
}

.container--second:hover {
    background: #C8AA0B;
}

.container--second {
    width: 100%;
    height: 100%;
    background: #F1D12B;
    transition-duration: 500ms;
}

.container--second {
    width: 94px;
    height: 90px;
    background: #F1D12B;
    width: 150px;
    height: 120px;
    color: #000;
    font-family: "Inria Serif" sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-align: center;
    border: 1px solid #000;
    margin-right: 100px;
    margin-top: 20px;
    padding: 15px;
}

.container--third:hover {
    background: #C8AA0B;
}

.container--third {
    width: 100%;
    height: 100%;
    background: #F1D12B;
    transition-duration: 500ms;
}

.container--third {
    width: 94px;
    height: 90px;
    background: #F1D12B;
    width: 150px;
    height: 120px;
    color: #000;
    font-family: "Inria Serif" sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-align: center;
    border: 1px solid #000;
    margin-left: 60px;
    margin-top: 20px;
    padding: 15px;
}